{% extends "base.html" %}

{% block content %}
    <div class="custome-container">
        <div class="glass-container">
            <h2>Signup</h2>
            <form class="custome-form" method="POST" action="{{ url_for('signup') }}">
                {{ form.hidden_tag() }}
                {{ form.username(class="form-control", placeholder="Username") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {{ form.password(class="form-control", placeholder="Confirm Password") }}
                {{ form.email(class="form-control", placeholder="Email") }}
                {{ form.submit(class="btn btn-primary") }}
                <!-- <button type="submit" class="btn btn-primary">Login</button> -->
                <p>Already have an account? <a class="auth" href="{{ url_for('login') }}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}
